Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

.pre-commit-config.yaml:

exclude: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--no-ensure-ascii"

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  # Python
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [ "--profile", "black" ]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.3
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty-check
        language: system
        types: [ python ]
        entry: uvx ty check

  # uv
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-lock

  # Rust / Tauri
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
      - id: cargo-check

  # Frontend
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry:  pnpm  run prettier-write
        language: system
        files: src/
        pass_filenames: false

  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: pnpm run check
        language: system
        files: src/
        pass_filenames: false
      - id: image-check
        name: Ensure only PNG images
        language: fail
        entry: 'Only PNG images are allowed. Invalid files:'
        files: \.(jpe?g|bmp|gif|webp|tiff?)$
        types: [file]

AFKJ: Add new Legend Trial top floor reached template: "Unlocks at Season Phase X" (#532)
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/legend_trial.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/legend_trials/unlocks_at_season_phase.png
Due: ty

AFKJ: increase battle freeze check timer to 45 seconds
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
Due: ty

AFKJ: adjust battle freeze timer for super slow devices
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
Due: ty

AFKJ: update emberlight festival fish hook template double rewards displays a label over it so in rare cases can fail to detect with previous template
  package.json
  pnpm-lock.yaml
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/fishing/emberlight_festival/hook_fish.png
Due: none

AFKJ: Fix normal fishing
  src-tauri/src-python/adb_auto_player/games/afk_journey/minigames/fishing.py
Due: ty

softprops/action-gh-release@v2.4.2
  .github/workflows/publish.yaml
Due: none

replace softprops/action-gh-release with gh release
  .github/workflows/publish.yaml
Due: none

Update release profile Cargo Configuration
  Cargo.toml
Due: none

pnpm update
  package.json
  pnpm-lock.yaml
Due: none

vite 8
  package.json
  pnpm-lock.yaml
Due: none

cargo update
  Cargo.lock
Due: none

uv lock --upgrade
  uv.lock
Due: none

uv lock --upgrade
  src-tauri/pyproject.toml
  uv.lock
Due: none

BPSR: Wondrous Tag BPSR: Devourer Normal
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/blue_protocol_star_resonance.py
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/devourer.py
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/templates/dungeon/challenge.png
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/templates/dungeon/exit.png
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/templates/dungeon/leave.png
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/templates/dungeon/next.png
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/templates/wondrous_tag/accept.png
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/templates/wondrous_tag/cancel.png
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/templates/wondrous_tag/leave.png
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/templates/wondrous_tag/match.png
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/templates/wondrous_tag/vs.png
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/wondrous_tag.py
Due: ty

docs: remake wiki and update version to 12.8.10
  CHANGELOG.md
  Cargo.lock
  README.md
  docs/src/SUMMARY.md
  docs/src/games/afk-journey.md
  docs/src/games/blue-protocol.md
  docs/src/games/guitar-girl.md
  docs/src/images/app/app.png
  docs/src/images/app/app2.png
  docs/src/images/app/ui-accordion.png
  docs/src/images/app/ui-customizer.png
  docs/src/images/app/ui-main.png
  docs/src/images/app/ui-palette.png
  docs/src/images/app/ui-settings-app.png
  docs/src/images/app/ui-settings-game.png
  docs/src/images/app/ui-settings.png
  docs/src/introduction.md
  docs/src/user-guide/ui-guide.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/settings.rs
  src-tauri/tauri.conf.json
Due: prettier, svelte-check

docs: add detailed USB debugging guides for physical Android devices and update documentation references
  CHANGELOG.md
  docs/src/user-guide/real-phone-guide.md
  docs/src/user-guide/troubleshoot.md
  uv.lock
Due: prettier, svelte-check

fix(settings): sanitize advanced settings for upgrading users
  src-tauri/src/settings.rs
Due: prettier, svelte-check

chore(deps): update tauri and plugins to match NPM API v2.11
  Cargo.lock
  src-tauri/Cargo.toml
Due: none

chore: bump workspace version to 12.8.10
  Cargo.toml
Due: none

chore: bump version to 12.8.11 for release fix
  CHANGELOG.md
  Cargo.toml
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

chore: fix afkj bugs and bump version to 12.8.12
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/duras_trials.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/hero_scanner.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

docs: update changelog for 12.8.12
  CHANGELOG.md
Due: none

docs: remove bold asterisks from changelog and restore deleted sections
  CHANGELOG.md
  Cargo.lock
Due: none

docs: remove outdated entries from changelog history
  CHANGELOG.md
Due: none

docs: restore changelog content
  CHANGELOG.md
Due: none

docs: trim changelog to only requested content
  CHANGELOG.md
Due: none

chore: fix CI by adding pnpm onlyBuiltDependencies
  package.json
Due: none

chore: ignore core-js and protobufjs build scripts to fix CI
  package.json
Due: none

chore: manually approve build scripts in lockfile
  package.json
  pnpm-lock.yaml
Due: none

ci: pin pnpm to v10 to fix ERR_PNPM_IGNORED_BUILDS
  .github/actions/setup-tools/action.yml
Due: none

ci: pin pnpm to v10 in publish.yaml to fix ERR_PNPM_IGNORED_BUILDS
  .github/workflows/publish.yaml
Due: none

feat: implement Dura's Trials automation and add support for Tauri standalone configuration.
  CHANGELOG.md
  Cargo.lock
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/src-python/adb_auto_player/commands/debug.py
  src-tauri/src-python/adb_auto_player/file_loader/settings_loader.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/duras_trials.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/battle/skip_orange.png
  src-tauri/src-python/adb_auto_player/models/decorators/lru_cache_group.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

vairus fix
  Cargo.lock
  package.json
  pnpm-lock.yaml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/game/game.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
  src-tauri/src/settings.rs
  src/lib/components/updater/UpdateContainer.svelte
  uv.lock
Due: ty, prettier, svelte-check

docs: add CLAUDE.md with architecture and dev commands
  CLAUDE.md
Due: none

feat: add AFK Journey quest automation and modular game framework structures
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/device/adb/device_stream.py
  src-tauri/src-python/adb_auto_player/game/game.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

fix(quests): redirect TAP & HOLD wheel arrow click to cast button center
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/cast_alt_v2.png
Due: ty

fix(quests): adjust generic hold center tolerance for TAP & HOLD wheel
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
Due: ty

fix(arena): update navigation method to enter Arena using battle modes screen
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/arena.py
Due: ty

feat: add Ravaged Realm event automation
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/ravaged_realm.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/label.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/skip.png
Due: ty

legend trial pre-season fix
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/legend_trial.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/navigation.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_afkj_mixins.py
Due: ty
