Repository Trivaris/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy --strict
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: pnpm --dir adb_auto_player/frontend exec prettier --write src/**/*.{js,ts,svelte,css,html}
        pass_filenames: false
        language: system
        types: [file]
        files: ^adb_auto_player/frontend/src/.*\.(js|ts|svelte|css|html)$

LICENSE
  LICENSE
  adb_auto_player/frontend/src/routes/+page.svelte
  adb_auto_player/frontend/src/routes/LogDisplay.svelte
  adb_auto_player/plugins/AFKJourney/run.py
  docs/src/games/afk-journey.md
Due: mypy, prettier

remove WIP and supported games section
  docs/src/wip.md
Due: none

remove WIP and supported games section
  docs/src/supported-games.md
Due: none

remove WIP and supported games section
  docs/src/SUMMARY.md
Due: none

Menu component
  adb_auto_player/frontend/.idea/prettier.xml
  adb_auto_player/frontend/src/app.d.ts
  adb_auto_player/frontend/src/routes/+page.svelte
  adb_auto_player/frontend/src/routes/CommandPanel.svelte
  adb_auto_player/frontend/src/routes/ConfigForm.svelte
  adb_auto_player/frontend/src/routes/Menu.svelte
  adb_auto_player/frontend/src/routes/types.ts
Due: prettier

attempt fix single battle not progressing
  adb_auto_player/plugins/AFKJourney/run.py
Due: mypy

remove os use pathlib
  .gitignore
  adb_auto_player/adb.py
  adb_auto_player/eel_functions.py
  adb_auto_player/frontend/src/routes/+page.svelte
  adb_auto_player/logging_setup.py
  adb_auto_player/main.py
  adb_auto_player/plugin.py
  adb_auto_player/plugin_loader.py
  adb_auto_player/plugins/AFKJourney/run.py
  adb_auto_player/screen_utils.py
  adb_auto_player/update_manager.py
  pyproject.toml
Due: mypy, prettier

remove os use pathlib
  adb_auto_player/main.py
  adb_auto_player/plugin_loader.py
  adb_auto_player/update_manager.py
  pyproject.toml
Due: mypy

min ver 0.5.0
  adb_auto_player/plugins/AFKJourney/config.toml
Due: none

remove unnecessary list calls
  adb_auto_player/plugin_loader.py
  adb_auto_player/update_manager.py
Due: mypy

separate spend_gold config for afk stages and duras trials
  adb_auto_player/plugins/AFKJourney/config.toml
  adb_auto_player/plugins/AFKJourney/run.py
  docs/src/games/afk-journey.md
Due: mypy

update config instead of making backup
  .gitignore
  adb_auto_player/update_manager.py
Due: mypy

remove namedtuple
  adb_auto_player/plugins/AFKJourney/run.py
Due: mypy

skip formation if hero or artifact is missing faster skipping formations fix use_suggested_formations for afk stage config not being applied
  adb_auto_player/plugins/AFKJourney/config.toml
  adb_auto_player/plugins/AFKJourney/run.py
  adb_auto_player/plugins/AFKJourney/templates/cancel.png
Due: mypy

revert push_both_modes default
  adb_auto_player/plugins/AFKJourney/config.toml
Due: none

fix cc & synergy
  adb_auto_player/plugin.py
  adb_auto_player/plugins/AFKJourney/run.py
  adb_auto_player/plugins/AFKJourney/templates/chat_button.png
Due: mypy

refactor
  adb_auto_player/plugin.py
Due: mypy

refactor
  adb_auto_player/plugin.py
  adb_auto_player/plugin_loader.py
  adb_auto_player/plugins/AFKJourney/config.toml
  adb_auto_player/plugins/AFKJourney/run.py
  adb_auto_player/update_manager.py
Due: mypy

prettier
  adb_auto_player/frontend/.idea/prettier.xml
  adb_auto_player/frontend/src/routes/+page.svelte
  adb_auto_player/frontend/src/routes/CommandPanel.svelte
Due: prettier

click confirm when trying to navigate to default state
  adb_auto_player/plugins/AFKJourney/run.py
Due: mypy

Print errors to download 1.0.0
  adb_auto_player/main.py
  adb_auto_player/plugins/AFKJourney/run.py
  adb_auto_player/update_manager.py
Due: mypy

update .iml to goland
  .idea/AdbAutoPlayer.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/runConfigurations/main.xml
  go.sum
Due: none

vcs.xml
  cmd/wails/frontend/.idea/vcs.xml
Due: none

vcs.xml
  python/.idea/vcs.xml
Due: none

patch updater svelte
  cmd/wails/frontend/.idea/workspace.xml
  cmd/wails/frontend/README.md
  cmd/wails/frontend/package.json.md5
  cmd/wails/frontend/src/lib/wailsjs/go/main/App.d.ts
  cmd/wails/frontend/src/lib/wailsjs/go/main/App.js
  cmd/wails/frontend/src/routes/+layout.svelte
  cmd/wails/frontend/src/routes/DownloadIconSticky.svelte
  cmd/wails/frontend/static/icons/download-cloud.svg
  cmd/wails/frontend/svelte.config.js
  cmd/wails/frontend/tsconfig.json
  cmd/wails/frontend/vite.config.ts
Due: none

.gitignore
  cmd/wails/frontend/.idea/.gitignore
Due: none

release.yml
  .github/workflows/release-plugins.yml
  .github/workflows/release.yml
  README.md
  build_zip.sh
  cmd/wails/frontend/README.md
  python/README.md
Due: none

poetry install
  .github/workflows/release.yml
Due: none

python readme.md
  python/README.md
Due: none

install go
  .github/workflows/release.yml
Due: none

rearrange release.yml
  .github/workflows/release.yml
Due: none

release.yml
  .github/workflows/release.yml
Due: none

nuitka cache
  .github/workflows/release.yml
Due: none

fix zip
  .github/workflows/release.yml
Due: none

build_zip.ps1
  .github/scripts/build_zip.ps1
  .github/workflows/release.yml
  build_zip.sh
Due: none

fix build_zip.ps1
  .github/scripts/build_zip.ps1
Due: none
