Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

.pre-commit-config.yaml:

exclude: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: pretty-format-json
        exclude: '^(frontend/package-lock\.json|frontend/package\.json|build/windows/info\.json|wails\.json)$'
        args:
          - "--autofix"
          - "--no-ensure-ascii"

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  # Python
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: python/
        args: [ "--profile", "black" ]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: python/
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.3
    hooks:
      - id: ruff
        files: python/
        args: [ --fix ]
      - id: ruff-format
        files: python/
  - repo: local
    hooks:
      - id: ty
        files: python/
        name: ty-check
        language: system
        types: [ python ]
        entry: uvx ty check .
        args: [--project, python]

  # uv
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.20
    hooks:
      - id: uv-lock
        files: python/pyproject.toml
        args: [--project, python]
      - id: uv-export
        files: python/pyproject.toml
        args: [--project, python]

  # Golang
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.2.2
    hooks:
      - id: golangci-lint
        files: \.go$

  # Frontend
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry:  npm --prefix frontend run prettier-write
        language: system
        files: frontend/
        pass_filenames: false

  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: npm --prefix frontend run check
        language: system
        files: frontend/
        pass_filenames: false
      - id: image-check
        name: Ensure only PNG images
        language: fail
        entry: 'Only PNG images are allowed. Invalid files:'
        files: \.(jpe?g|bmp|gif|webp|tiff?)$
        types: [file]

remove -files- in nuitka cache key
  .github/workflows/build.yml
Due: none

fix(update-template): update records template to fix afk stage pushing after mehira patch
  python/adb_auto_player/games/afk_journey/templates/battle/records.png
Due: none

fix(more-afk-stage-fixes): add additional afk stage pushing changes from mehira patch
  python/adb_auto_player/games/afk_journey/settings.py
  python/adb_auto_player/games/afk_journey/templates/battle/records.png
  python/tests/test_main.py
  settings/AFKJourney.toml
Due: ty

fix
  python/adb_auto_player/games/afk_journey/base.py
Due: ty

SeasonTalentStages.xml => SeasonAFKStages.xml
  python/.idea/runConfigurations/SeasonAFKStages.xml
Due: none

skip build publish for prereleases
  .github/workflows/build.yml
Due: none

Fix Settings reset
  python/adb_auto_player/games/afk_journey/base.py
Due: ty

Return Error when Server is not started by GUI
  internal/process/ipc_manager.go
Due: none

refactor(update-afkj-toml): changed some fields to new defaults or more generic default
  settings/AFKJourney.toml
Due: none

(Windows) Start server as Job
  internal/hotkeys/hotkeys_darwin.go
  internal/hotkeys/hotkeys_linux.go
  internal/hotkeys/hotkeys_windows.go
  internal/notifications/notification_service_windows.go
  internal/process/ipc_manager.go
  internal/process/ipc_manager_other.go
  internal/process/ipc_manager_windows.go
  internal/process/ipc_service.go
  internal/updater/update_manager_windows.go
Due: none

(Windows) Start server as Job
  go.mod
  internal/process/ipc_manager_windows.go
Due: none

update error messages
  internal/process/ipc_manager_windows.go
Due: none

pre-commit.yml
  .github/workflows/pre-commit.yml
Due: none

Start server as job (#416)
  go.mod
  internal/hotkeys/hotkeys_darwin.go
  internal/hotkeys/hotkeys_linux.go
  internal/hotkeys/hotkeys_windows.go
  internal/notifications/notification_service_windows.go
  internal/process/ipc_manager.go
  internal/process/ipc_manager_other.go
  internal/process/ipc_manager_windows.go
  internal/process/ipc_service.go
  internal/updater/update_manager_windows.go
Due: none

test
  .github/workflows/pre-commit.yml
Due: none

Fix Settings not being applied after save
  python/adb_auto_player/game/game.py
  python/adb_auto_player/games/afk_journey/base.py
Due: ty

Fix Settings cache not getting cleared
  python/adb_auto_player/server.py
Due: ty

Game.get_settings() => Game.settings via @property
  python/adb_auto_player/game/game.py
  python/adb_auto_player/games/afk_journey/base.py
  python/adb_auto_player/games/afk_journey/custom_routine/claim_afk_rewards.py
  python/adb_auto_player/games/afk_journey/mixins/afk_stages.py
  python/adb_auto_player/games/afk_journey/mixins/arcane_labyrinth.py
  python/adb_auto_player/games/afk_journey/mixins/assist.py
  python/adb_auto_player/games/afk_journey/mixins/dailies.py
  python/adb_auto_player/games/afk_journey/mixins/dream_realm.py
  python/adb_auto_player/games/afk_journey/mixins/duras_trials.py
  python/adb_auto_player/games/afk_journey/mixins/legend_trial.py
  python/adb_auto_player/games/afk_journey/mixins/titan_reaver_proxy_battle.py
  python/adb_auto_player/games/blue_protocol_star_resonance/blue_protocol_star_resonance.py
  python/adb_auto_player/games/guitar_girl/guitar_girl.py
  python/adb_auto_player/games/zzz_config_example/main.py
  python/tests/test_game.py
Due: ty

Fix Settings not being applied after save (#418)
  python/adb_auto_player/game/game.py
  python/adb_auto_player/games/afk_journey/base.py
  python/adb_auto_player/server.py
Due: ty

Get settings to settings property (#419)
  python/adb_auto_player/game/game.py
  python/adb_auto_player/games/afk_journey/base.py
  python/adb_auto_player/games/afk_journey/custom_routine/claim_afk_rewards.py
  python/adb_auto_player/games/afk_journey/mixins/afk_stages.py
  python/adb_auto_player/games/afk_journey/mixins/arcane_labyrinth.py
  python/adb_auto_player/games/afk_journey/mixins/assist.py
  python/adb_auto_player/games/afk_journey/mixins/dailies.py
  python/adb_auto_player/games/afk_journey/mixins/dream_realm.py
  python/adb_auto_player/games/afk_journey/mixins/duras_trials.py
  python/adb_auto_player/games/afk_journey/mixins/legend_trial.py
  python/adb_auto_player/games/afk_journey/mixins/titan_reaver_proxy_battle.py
  python/adb_auto_player/games/blue_protocol_star_resonance/blue_protocol_star_resonance.py
  python/adb_auto_player/games/guitar_girl/guitar_girl.py
  python/adb_auto_player/games/zzz_config_example/main.py
  python/tests/test_game.py
Due: ty

MacOS: Kill Server process when Parent process dies to prevent Orphan Server process
  python/adb_auto_player/server.py
Due: ty

remove standalone parameter
  python/adb_auto_player/server.py
Due: ty

MacOS: Kill Server process when Parent process dies to prevent Orphan Server process (#420)
  python/adb_auto_player/server.py
Due: ty

Wails 3 TS Bindings
  build/Taskfile.yml
  frontend/bindings/adb-auto-player/internal/games/gamesservice.js
  frontend/bindings/adb-auto-player/internal/games/gamesservice.ts
  frontend/bindings/adb-auto-player/internal/games/index.ts
  frontend/bindings/adb-auto-player/internal/hotkeys/hotkeysservice.ts
  frontend/bindings/adb-auto-player/internal/hotkeys/index.ts
  frontend/bindings/adb-auto-player/internal/ipc/index.ts
  frontend/bindings/adb-auto-player/internal/ipc/models.ts
  frontend/bindings/adb-auto-player/internal/log_reader/index.ts
  frontend/bindings/adb-auto-player/internal/log_reader/logreaderservice.ts
  frontend/bindings/adb-auto-player/internal/notifications/index.ts
  frontend/bindings/adb-auto-player/internal/notifications/notificationservice.ts
  frontend/bindings/adb-auto-player/internal/settings/index.ts
  frontend/bindings/adb-auto-player/internal/settings/models.ts
  frontend/bindings/adb-auto-player/internal/settings/settingsservice.js
  frontend/bindings/adb-auto-player/internal/settings/settingsservice.ts
  frontend/bindings/adb-auto-player/internal/system_tray/index.ts
  frontend/bindings/adb-auto-player/internal/system_tray/systemtrayservice.ts
  frontend/bindings/adb-auto-player/internal/updater/index.ts
  frontend/bindings/adb-auto-player/internal/updater/models.ts
  frontend/bindings/adb-auto-player/internal/updater/updateservice.ts
Due: prettier, svelte-check
