Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

ty:
  name: ty-check
  language: system
  entry: uvx ty check .
  args:
  - --project
  - python

prettier:
  name: prettier
  entry: npm --prefix frontend run prettier-write
  language: system
  pass_filenames: false

svelte-check:
  name: svelte-check
  entry: npm --prefix frontend run check
  language: system
  pass_filenames: false

image-check:
  name: Ensure only PNG images
  language: fail
  entry: 'Only PNG images are allowed. Invalid files:'

Wails 3 TS Bindings (#421)
  build/Taskfile.yml
  frontend/bindings/adb-auto-player/internal/games/gamesservice.js
  frontend/bindings/adb-auto-player/internal/games/gamesservice.ts
  frontend/bindings/adb-auto-player/internal/games/index.ts
  frontend/bindings/adb-auto-player/internal/hotkeys/hotkeysservice.ts
  frontend/bindings/adb-auto-player/internal/hotkeys/index.ts
  frontend/bindings/adb-auto-player/internal/ipc/index.ts
  frontend/bindings/adb-auto-player/internal/ipc/models.ts
  frontend/bindings/adb-auto-player/internal/log_reader/index.ts
  frontend/bindings/adb-auto-player/internal/log_reader/logreaderservice.ts
  frontend/bindings/adb-auto-player/internal/notifications/index.ts
  frontend/bindings/adb-auto-player/internal/notifications/notificationservice.ts
  frontend/bindings/adb-auto-player/internal/settings/index.ts
  frontend/bindings/adb-auto-player/internal/settings/models.ts
  frontend/bindings/adb-auto-player/internal/settings/settingsservice.js
  frontend/bindings/adb-auto-player/internal/settings/settingsservice.ts
  frontend/bindings/adb-auto-player/internal/system_tray/index.ts
  frontend/bindings/adb-auto-player/internal/system_tray/systemtrayservice.ts
  frontend/bindings/adb-auto-player/internal/updater/index.ts
  frontend/bindings/adb-auto-player/internal/updater/models.ts
  frontend/bindings/adb-auto-player/internal/updater/updateservice.ts
Due: prettier, svelte-check

Fix: Package name and game restart logic
  python/adb_auto_player/game/game.py
Due: ty

Refactor: rename clear_cache functions to cache_clear to be consistent with lru_cache.cache_clear
  python/adb_auto_player/game/game.py
  python/adb_auto_player/image_manipulation/io.py
  python/adb_auto_player/server.py
Due: ty

Refactor: rename clear_cache functions to cache_clear to be consistent with lru_cache.cache_clear (#422)
  python/adb_auto_player/game/game.py
  python/adb_auto_player/image_manipulation/io.py
  python/adb_auto_player/server.py
Due: ty

Fix: Package name and game restart logic (#423)
  python/adb_auto_player/game/game.py
Due: ty

AFKJ: Hero Exclusion - Mehira & Nazrik
  python/adb_auto_player/games/afk_journey/heroes.py
  python/adb_auto_player/games/afk_journey/templates/heroes/mehira.png
  python/adb_auto_player/games/afk_journey/templates/heroes/nazrik.png
Due: ty

AFKJ: Hero Exclusion - Isabelle
  python/adb_auto_player/games/afk_journey/heroes.py
  python/adb_auto_player/games/afk_journey/templates/heroes/isabelle.png
Due: ty

Afkj mehira nazrik (#424)
  python/adb_auto_player/games/afk_journey/heroes.py
  python/adb_auto_player/games/afk_journey/templates/heroes/isabelle.png
  python/adb_auto_player/games/afk_journey/templates/heroes/mehira.png
  python/adb_auto_player/games/afk_journey/templates/heroes/nazrik.png
Due: ty

remove unnecessary package-lock.json in root
  package-lock.json
Due: none

Styling
  frontend/src/lib/components/updater/UpdateModal.svelte
Due: prettier, svelte-check

Xiaomi Input device impl
  python/adb_auto_player/device/adb/__init__.py
  python/adb_auto_player/device/adb/adb_input_device.py
  python/adb_auto_player/device/adb/xiaomi_input.py
  python/adb_auto_player/device/adb/xiaomi_joystick.py
  python/adb_auto_player/scripts/testing.py
Due: ty

Xiaomi Input device impl (#436)
  python/adb_auto_player/device/adb/__init__.py
  python/adb_auto_player/device/adb/adb_input_device.py
  python/adb_auto_player/device/adb/xiaomi_input.py
  python/adb_auto_player/device/adb/xiaomi_joystick.py
  python/adb_auto_player/scripts/testing.py
Due: ty

Xiaomi Joystick improvements
  python/adb_auto_player/device/adb/xiaomi_joystick.py
  python/adb_auto_player/models/device/gamepad.py
  python/adb_auto_player/models/geometry/point.py
Due: ty

Xiaomi Joystick improvements (#437)
  python/adb_auto_player/device/adb/xiaomi_joystick.py
  python/adb_auto_player/models/device/gamepad.py
  python/adb_auto_player/models/geometry/point.py
Due: ty

fix test
  python/tests/models/geometry/test_point.py
Due: ty

Skeleton v4
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.css
  frontend/src/lib/components/generic/Modal.svelte
  frontend/src/lib/components/menu/Menu.svelte
  frontend/src/lib/components/menu/TooltipButton.svelte
  frontend/src/lib/components/settings/SettingsForm.svelte
  frontend/src/lib/components/updater/UpdateModal.svelte
  frontend/src/routes/app/+layout.svelte
Due: prettier, svelte-check

Skeleton v4 (#438)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.css
  frontend/src/lib/components/generic/Modal.svelte
  frontend/src/lib/components/menu/Menu.svelte
  frontend/src/lib/components/menu/TooltipButton.svelte
  frontend/src/lib/components/settings/SettingsForm.svelte
  frontend/src/lib/components/updater/UpdateModal.svelte
  frontend/src/routes/app/+layout.svelte
Due: prettier, svelte-check

Display and Resolution stuff
  python/adb_auto_player/game/game.py
  python/adb_auto_player/models/device/display.py
Due: ty

AFKJ: Stage rewards tap cancel when chest is received
  python/adb_auto_player/games/afk_journey/custom_routine/claim_afk_rewards.py
Due: ty

AFKJ: Stage rewards tap cancel when receiving equipment chest (#439)
  python/adb_auto_player/games/afk_journey/custom_routine/claim_afk_rewards.py
Due: ty

Add option to turn the PC off after AutoPlayer completes the task it's doing
  frontend/bindings/adb-auto-player/internal/settings/models.ts
  frontend/src/lib/components/settings/SettingsForm.svelte
  internal/ipc/constraint.go
  internal/process/ipc_manager.go
  internal/process/ipc_manager_other.go
  internal/process/ipc_manager_windows.go
  internal/settings/settings.go
  settings/AdbAutoPlayer.toml
Due: prettier, svelte-check

Add support for running auto formations first
  python/adb_auto_player/games/afk_journey/base.py
  python/adb_auto_player/games/afk_journey/settings.py
  settings/AFKJourney.toml
  settings/AdbAutoPlayer.toml
Due: ty

revert settings back to default values
  settings/AFKJourney.toml
  settings/AdbAutoPlayer.toml
Due: none

Fix linting
  python/adb_auto_player/games/afk_journey/base.py
  python/adb_auto_player/games/afk_journey/settings.py
Due: ty

Fix linting
  frontend/src/lib/components/settings/SettingsForm.svelte
Due: prettier, svelte-check

Fix crashing if there are less than 10 formations
  python/adb_auto_player/games/afk_journey/base.py
Due: ty

Fix crashing if there are less than 10 formations for sure now ):
  python/adb_auto_player/games/afk_journey/base.py
Due: ty

Path conditions:
  ty: any of: python/ and \.py$ and not ((^|/)\.idea/|(^|/)wailsjs/|.*\.md5$)
  prettier: any of: frontend/, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  svelte-check: any of: frontend/, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  image-check: any of: \.(jpe?g|bmp|gif|webp|tiff?)$, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
