Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

ty:
  name: ty-check
  language: system
  entry: uvx ty check

prettier:
  name: prettier
  entry: pnpm  run prettier-write
  language: system
  pass_filenames: false

svelte-check:
  name: svelte-check
  entry: pnpm run check
  language: system
  pass_filenames: false

image-check:
  name: Ensure only PNG images
  language: fail
  entry: 'Only PNG images are allowed. Invalid files:'

fix: move crash hook after imports to satisfy E402 and isort
  src-tauri/src-python/adb_auto_player/__main__.py
Due: ty

feat: initialize Tauri backend with native crash logging and cross-platform startup error diagnostics
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/tauri.conf.json
  uv.lock
Due: none

feat: implement cross-platform main entry point with integrated Python interpreter and crash reporting
  src-tauri/src/main.rs
Due: prettier, svelte-check

feat: implement AFK Journey quest automation and add Svelte-based frontend API client scaffolding
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src-python/adb_auto_player/device/adb/adb_scanner.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/tauri.conf.json
  src/client/_apiTypes.d.ts
  src/client/apiClient.ts
  src/lib/form/SchemaForm.svelte
  src/routes/+layout.svelte
  uv.lock
Due: ty, prettier, svelte-check

feat: migrate to Tauri v2 and improve AFK Journey quest automation reliability
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  match_crop.png
  match_crop_tap_to_close.png
  package.json
  pyproject.toml
  screenshot_debug.png
  screenshot_tap_to_close.png
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/tap_to_close_dark.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/track.png
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

Fixed a bug where the bot is stuck because it cant find the quest icon for autopathing
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/quest_nav.png
Due: ty

Tons of fixed regarding new buttons, clicking the wrong position and so on. Should improve quest mode.
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/continue_main_quest.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/gesture_quest_marker_orange_v2.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/quest_dialogue.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/quest_nav.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/quest_nav_alt.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/transform_quest.png
Due: ty

feat: implement automated quest progression and tracking for AFK Journey
  .github/workflows/publish.yaml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  screenshot_blue_track.png
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/track_blue.png
  src-tauri/tauri.bundle.windows.json
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

fix: enhance Supreme Arena opponent selection and navigation handling
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/supreme_arena.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/navigation.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/settings.py
  src/lib/form/SchemaForm.svelte
Due: ty, prettier, svelte-check

fix: Legend Trial handling for challenge, tap_to_close, and victory screens (v12.9.6)
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/legend_trial.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

docs: update changelog for v12.9.6
  CHANGELOG.md
Due: none

docs: remove multi-language note from changelog
  CHANGELOG.md
Due: none

Refactor code structure for improved readability and maintainability
  src-tauri/Settings/AFKJourney.toml
  src-tauri/src-python/adb_auto_player/game/_task_mixin.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/arcane_labyrinth.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/popup_message_handler.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/settings.py
  src-tauri/src-python/adb_auto_player/models/pydantic/__init__.py
  src-tauri/src-python/adb_auto_player/models/pydantic/my_custom_routine_settings.py
  src-tauri/src-python/adb_auto_player/models/pydantic/toml_settings.py
  src/lib/form/SchemaForm.svelte
  src/lib/form/components/TaskList.svelte
  src/lib/form/types.ts
Due: ty, prettier, svelte-check

feat: Add supreme_arena/rankings.png template and prioritize it over district rankings template in scan
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/guild_member_scan.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/rankings.png
Due: ty

style: fix line length in guild_member_scan.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/guild_member_scan.py
Due: ty

release: 12.9.7
  .claude/settings.local.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/Settings/AFKJourney.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dream_realm.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/guild_member_scan.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/settings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/dream_realm/cup_1.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/dream_realm/cup_2.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/dream_realm/cup_3.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/dream_realm/filter.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/dream_realm/scroll_top.png
  src-tauri/src-python/adb_auto_player/log/logging_setup.py
  src-tauri/src-python/adb_auto_player/ocr/__init__.py
  src-tauri/src-python/adb_auto_player/ocr/qwen2vl_backend.py
  src-tauri/src-python/adb_auto_player/ocr/rapidocr_backend.py
  src-tauri/src-python/adb_auto_player/scripts/extract_frames.py
  src-tauri/src-python/scripts/debug_chest_frames.py
  src-tauri/src-python/scripts/test_activeness_ocr.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_afkj_mixins.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_member_scan.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

whole homestead rewrite
  screenshot_blue_track.png
  screenshot_debug.png
  screenshot_tap_to_close.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/alchem_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/buildings_tab.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/cook_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/crafting_screen_check.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/deliver_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/forge_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/harvest_all.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/mine_building.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/mine_go_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/multiplier_state.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/multiplier_x10.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/quick_select.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/requests_label.png
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
Due: ty

docs: add extensive development guide and create skeleton for guild member scan mixin
  CLAUDE.md
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/guild_member_scan.py
Due: ty

feat: migrate to Tauri v2 and implement Qwen-VL fallback for OCR name recovery
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/tauri.conf.json
  uv.lock
Due: none

feat: initialize pyproject.toml for Python dependency management
  src-tauri/pyproject.toml
Due: none

feat: bump version to 12.9.9, daily fix and guild manager scan improvements
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/guild_member_scan.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/settings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/dream_realm/cup_1.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/dream_realm/cup_2.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/dream_realm/cup_3.png
  src-tauri/src-python/adb_auto_player/ipc_util/ipc_model_converter.py
  src-tauri/src-python/adb_auto_player/ocr/qwen2vl_backend.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_member_scan.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

feat: implement daily task automation, Qwen2VL OCR backend, and IPC model conversion utilities
  pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
Due: ty

fix(installer): kill bundled adb-server on install/uninstall to unlock DLLs
  CHANGELOG.md
  src-tauri/nsis/installer-hooks.nsh
  src-tauri/tauri.bundle.windows.json
Due: none

chore: ignore .claude/ directory in .gitignore
  .gitignore
Due: none

fix(dailies): use instance methods instead of instantiating mixins directly
  CHANGELOG.md
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

chore: update Cargo.lock version to 12.9.10
  Cargo.lock
Due: none

feat: bump version to 12.9.11, refactor paragon lock resolution, improve duras trials tapping
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/duras_trials.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/services/hero_scanner.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
  src-tauri/src-python/tests/games/afk_journey/services/test_hero_scanner.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

docs: add daily quest friend reward fix to changelog
  CHANGELOG.md
Due: none

docs: detail daily MRO fix in changelog
  CHANGELOG.md
Due: none

test(mixins): add test coverage for friend rewards claim and duras trials battle button
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
Due: ty

chore(deps): bump frontend dependencies from upstream Dependabot PRs
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump av from >=17.0.1 to >=17.1.0 (upstream PR #721)
  src-tauri/pyproject.toml
  uv.lock
Due: none

12.9.12
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/Settings/AFKJourney.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/guild_member_scan.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/settings.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

test(mixins): add coverage for run_dailies disabled flags and DR scan skip_today logic
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
Due: ty

test(mixins): cover partial branches for skip_today and processed_dates conditions
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
Due: ty

Homestead rewrite
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/gray_alchem_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/gray_forge_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/gray_make_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/ingredient_refine_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/ingredient_shape_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/ingredient_smelt_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/ingredient_tap_to_close.png
Due: ty

bump: version 12.9.13 and update changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/minigames/fishing.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_activeness.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_names.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_rankings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_setup.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/guild_member_scan.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/settings.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
  src-tauri/tauri.conf.json
  src/lib/form/SchemaForm.svelte
  uv.lock
Due: ty, prettier, svelte-check

bump: version 12.9.14 and update changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_setup.py
  src-tauri/src-python/adb_auto_player/ocr/qwen2vl_backend.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

feat: implement guild member scanning features, add Svelte schema form, and initialize Tauri configuration
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_member_scan.py
Due: ty

feat: implement guild member scanning features, add Svelte schema form, and initialize Tauri configuration
  CHANGELOG.md
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_member_scan.py
Due: ty

Path conditions:
  ty: any of: \.py$, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  prettier: any of: src/, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  svelte-check: any of: src/, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  image-check: any of: \.(jpe?g|bmp|gif|webp|tiff?)$, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
