Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

.pre-commit-config.yaml:

exclude: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--no-ensure-ascii"

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  # Python
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [ "--profile", "black" ]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.3
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty-check
        language: system
        types: [ python ]
        entry: uvx ty check

  # uv
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-lock

  # Rust / Tauri
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
      - id: cargo-check

  # Frontend
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry:  pnpm  run prettier-write
        language: system
        files: src/
        pass_filenames: false

  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: pnpm run check
        language: system
        files: src/
        pass_filenames: false
      - id: image-check
        name: Ensure only PNG images
        language: fail
        entry: 'Only PNG images are allowed. Invalid files:'
        files: \.(jpe?g|bmp|gif|webp|tiff?)$
        types: [file]

feat: implement template matching utilities, hero scanning mixins, and image resizing logic
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/hero_scanner.py
  src-tauri/src-python/adb_auto_player/image_manipulation/hero_resizer.py
  src-tauri/src-python/adb_auto_player/template_matching/template_matcher.py
Due: ty

feat: add image template for Mauler Squad event in Ravaged Realm
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/Mauler_Squad_Open.png
Due: none

feat: add Point dataclass for 2D coordinate representation and geometric operations
  src-tauri/src-python/adb_auto_player/models/geometry/point.py
Due: ty

feat: add Ravaged Realm automation support and introduce Point geometry model
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/ravaged_realm.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/Aurora_Squad_Locked.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/Aurora_Squad_Open.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/Dauntless_Squad_Locked.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/Immortal_Squad_Locked.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/Immortal_Squad_Open.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/Mauler_Squad_Open.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/Sylvan_Squad_Locked.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/Sylvan_Squad_Open.png
  src-tauri/src-python/adb_auto_player/models/geometry/point.py
Due: ty

feat: add Ravaged Realm automated gameplay support to AFK Journey
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/ravaged_realm.py
Due: ty

feat: add Ravaged Realm automation mixin with battle and skip support
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/ravaged_realm.py
Due: ty

chore: bump version to 12.8.20, configure tauri v2 project structure, and update AFK Journey automation logic
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/tauri.conf.json
  uv.lock
Due: none

chore(deps): update uv.lock with new numpy version from PR #674
  uv.lock
Due: none

test: add unit tests for Point and Box geometry models
  src-tauri/src-python/tests/models/geometry/test_box.py
  src-tauri/src-python/tests/models/geometry/test_point.py
Due: ty

feat: implement supreme arena automation mixin and settings
  bottom_debug.png
  screen_debug.png
  screenshot_current.png
  section_supreme.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/supreme_arena.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/settings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/battle_modes/supreme_arena.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/challenge.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/daily_rewards.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/label.png
  text_check.png
  top_debug.png
Due: ty

Fixed Tap&Hold bug where the ckick is below the button
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
Due: ty

Added match minigame recognition and solving
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
Due: ty

Added skip button as priority while in destiny dialogue
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
Due: ty

Added automated gesture detection and handling
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/gesture_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/gesture_quest_marker.png
Due: ty

Added "ancestral sense" detection
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/ancestral_sense.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/gesture_magic_tab.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/gesture_quest_marker_blue.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/gesture_quest_marker_orange.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/gesture_wolf_form.png
Due: ty

Fixed quest mode being stuck when there are more than two red dialogue choices
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/ancestral_sense_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/red_dialogue_checkmark.png
Due: ty

added claim button detection on full screen
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/claim.png
Due: ty

feat: add application infrastructure, UI components, hero data, and log management features
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  data/hero_synonyms.json
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/heroes.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/hero_scanner.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/gwyneth.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/sylphyra.png
  src-tauri/tauri.conf.json
  src/lib/i18n/jp_afk_journey_heroes.json
  uv.lock
Due: ty, prettier, svelte-check

Fixed quest mode being stuck in clan reputation screen
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/back_arrow.png
Due: ty

refactor: split Game god class into focused mixins and extract HeroScanner service
  src-tauri/src-python/adb_auto_player/game/_base.py
  src-tauri/src-python/adb_auto_player/game/_input_mixin.py
  src-tauri/src-python/adb_auto_player/game/_lifecycle_mixin.py
  src-tauri/src-python/adb_auto_player/game/_screenshot_mixin.py
  src-tauri/src-python/adb_auto_player/game/_task_mixin.py
  src-tauri/src-python/adb_auto_player/game/_template_mixin.py
  src-tauri/src-python/adb_auto_player/game/game.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/hero_scanner.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/services/__init__.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/services/hero_scanner.py
Due: ty

fix(tests): update mock patch paths after Game god-class split
  src-tauri/src-python/tests/test_game.py
Due: ty

refactor: add OCR abstract base class and AFKJourney navigation helpers
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/frostfire_showdown.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/ravaged_realm.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/sunlit_showdown.py
  src-tauri/src-python/adb_auto_player/ocr/__init__.py
  src-tauri/src-python/adb_auto_player/ocr/_backend.py
  src-tauri/src-python/adb_auto_player/ocr/rapidocr_backend.py
  src-tauri/src-python/adb_auto_player/ocr/tesseract_backend.py
Due: ty

refactor: apply _try_wait_and_tap helper to remaining AFKJourney mixins
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/arena.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dream_realm.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/legend_trial.py
Due: ty

fix(types): resolve ty type errors introduced by OCR ABC and HeroScanner refactoring
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/hero_scanner.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/services/hero_scanner.py
  src-tauri/src-python/adb_auto_player/ocr/tesseract_backend.py
Due: ty

refactor: split monolithic svelte components, migrate to svelte 5 stores, configure tauri csp, and implement rust/python testing improvements
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
  src-tauri/src-python/tests/template_matching/test_template_matching_benchmark.py
  src-tauri/src-python/tests/test_e2e_flow.py
  src-tauri/src/commands.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src-tauri/tauri.conf.json
  src/lib/components/log/ActiveLogDisplayCard.svelte
  src/lib/components/menu/ProfileSelector.svelte
  src/lib/components/modern/Hero.svelte
  src/lib/components/modern/LogActions.svelte
  src/lib/components/modern/LogEntry.svelte
  src/lib/components/modern/LogFilters.svelte
  src/lib/components/modern/LogPanel.svelte
  src/lib/components/modern/ProfileControls.svelte
  src/lib/components/modern/ProfileList.svelte
  src/lib/components/modern/ProfileSidebar.svelte
  src/lib/components/modern/ProfileState.svelte
  src/lib/components/modern/StatusBar.svelte
  src/lib/components/modern/TaskCard.svelte
  src/lib/components/modern/TaskFilters.svelte
  src/lib/components/modern/TaskGrid.svelte
  src/lib/components/modern/TaskVariantRenderer.svelte
  src/lib/components/modern/ThemeCustomizer.svelte
  src/lib/components/sticky/LogoSticky.svelte
  src/lib/components/updater/UpdateContainer.svelte
  src/lib/stores.svelte.ts
  src/lib/stores.ts
  src/lib/utils/settings.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: ty, prettier, svelte-check

chore: bump version to 12.9.0
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/tauri.conf.json
  uv.lock
Due: none

fixed a bug where the wrong area was clicked, added a new template for the fix
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/afk_stages.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/afk_stages/season_battle.png
Due: ty

fix: update AFKStages button interaction to use template matching
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/afk_stages.py
Due: ty

added supreme arena
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/supreme_arena.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/challenge_detail.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/no_attempts_popup.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/select_opponent.png
Due: ty

feat: implement Ravaged Realm automation for AFK Journey including battle flow and popup handling
  .claude/settings.local.json
  CHANGELOG.md
  CLAUDE.md
  src-tauri/.taurignore
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/ravaged_realm.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/popup_message_handler.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/battle_ended.png
Due: ty

feat: implement AFK Journey integration tests and add hero scanner unit test placeholder
  .claude/settings.local.json
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
  src-tauri/src-python/tests/games/afk_journey/services/test_hero_scanner.py
Due: ty

feat: implement Supreme Arena automation, add quest UI templates, and introduce comprehensive mixin integration tests
  .claude/settings.local.json
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/afk_stages.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/ravaged_realm.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/supreme_arena.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/settings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/afk_stages/season_battle.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/battle_modes/supreme_arena.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/ravaged_realm/skip_orange.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/ancestral_sense.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/ancestral_sense_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/back_arrow.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/claim.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/gesture_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/gesture_magic_tab.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/gesture_quest_marker_blue.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/gesture_quest_marker_orange.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/gesture_wolf_form.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/quests/red_dialogue_checkmark.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/challenge.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/challenge_detail.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/daily_rewards.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/label.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/no_attempts_popup.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/supreme_arena/select_opponent.png
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
Due: ty

chore: upgrade numpy to 2.4.6 and add project configuration files
  .claude/settings.local.json
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
  src-tauri/pyproject.toml
  uv.lock
Due: none

feat: add AFK Journey Supreme Arena and quest enhancements, fix multiple automation logic issues, and update dependencies
  CHANGELOG.md
Due: none

refactor: restructure changelog entries and remove outdated CI/dependency logs
  CHANGELOG.md
Due: none

fix: resolve AFK Stages timeout by adding static coordinate fallbacks for mode selection and introduce AFKStagesMixin
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/afk_stages.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

test: add comprehensive mock test suites for AFK Journey mixins and template matching benchmarks
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
  src-tauri/src-python/tests/template_matching/test_template_matching_benchmark.py
Due: ty

fix: surface startup errors on Windows instead of silently exiting
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src/main.rs
Due: ty, prettier, svelte-check

fix: add startup error dialogs for macOS and Linux
  src-tauri/src/main.rs
Due: prettier, svelte-check
