Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

ty:
  name: ty-check
  language: system
  entry: uvx ty check .
  args:
  - --project
  - python

prettier:
  name: prettier
  entry: npm --prefix frontend run prettier-write
  language: system
  pass_filenames: false

svelte-check:
  name: svelte-check
  entry: npm --prefix frontend run check
  language: system
  pass_filenames: false

image-check:
  name: Ensure only PNG images
  language: fail
  entry: 'Only PNG images are allowed. Invalid files:'

wow im regarded
  .github/actions/setup-tools/action.yml
Due: none

update pre-commit
  .pre-commit-config.yaml
  python/adb_auto_player/ocr/tesseract_backend.py
Due: ty

precommit run on every OS
  .github/workflows/pre-commit.yml
Due: none

.gitattributes
  .gitattributes
Due: none

Replace mypy with ty (#381)
  .gitattributes
  .github/actions/setup-tools/action.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  python/adb_auto_player/decorators/register_command.py
  python/adb_auto_player/device/adb/adb_utils.py
  python/adb_auto_player/device/adb/retry_decorator.py
  python/adb_auto_player/image_manipulation/io.py
  python/adb_auto_player/models/geometry/point.py
  python/adb_auto_player/ocr/tesseract_backend.py
  python/adb_auto_player/server.py
  python/adb_auto_player/util/execute.py
  python/pyproject.toml
  python/tests/image_manipulation/test_color.py
  python/tests/models/geometry/test_point.py
  python/tests/models/image_processing/crop_value/test_crop_value_validation.py
  python/tests/models/test_confidence_value.py
  python/tests/ocr/test_tesseract_backend/test_tesseract_backend_afkj_popup.py
  python/tests/ocr/test_tesseract_backend/test_tesseract_backend_info.py
  python/tests/test_device_stream.py
  python/tests/utils/test_log_message_factory.py
  python/uv.lock
Due: ty

BPSR: simple gathering
  python/adb_auto_player/games/blue_protocol_star_resonance/__init__.py
  python/adb_auto_player/games/blue_protocol_star_resonance/blue_protocol_star_resonance.py
  python/adb_auto_player/games/blue_protocol_star_resonance/simple_gathering.py
  python/adb_auto_player/games/blue_protocol_star_resonance/templates/gathering/gathering.png
  python/adb_auto_player/games/blue_protocol_star_resonance/templates/gathering/mining.png
  python/adb_auto_player/games/blue_protocol_star_resonance/templates/power_saving_mode/1.png
Due: ty

BPSR: simple gathering (#382)
  python/adb_auto_player/games/blue_protocol_star_resonance/__init__.py
  python/adb_auto_player/games/blue_protocol_star_resonance/blue_protocol_star_resonance.py
  python/adb_auto_player/games/blue_protocol_star_resonance/simple_gathering.py
  python/adb_auto_player/games/blue_protocol_star_resonance/templates/gathering/gathering.png
  python/adb_auto_player/games/blue_protocol_star_resonance/templates/gathering/mining.png
  python/adb_auto_player/games/blue_protocol_star_resonance/templates/power_saving_mode/1.png
Due: ty

move some point functions to coordinates
  python/adb_auto_player/models/geometry/coordinates.py
Due: ty

helper function to get center of screen
  python/adb_auto_player/game/game.py
Due: ty

move some point functions to coordinates
  python/adb_auto_player/models/geometry/point.py
Due: ty

BPSR: simple gathering updates
  python/adb_auto_player/games/blue_protocol_star_resonance/blue_protocol_star_resonance.py
  python/adb_auto_player/games/blue_protocol_star_resonance/simple_gathering.py
Due: ty

ADB: use input motionevent for hold instead of swipe
  python/adb_auto_player/device/adb/adb_controller.py
  python/adb_auto_player/scripts/testing.py
Due: ty

revert
  python/adb_auto_player/models/geometry/point.py
Due: ty

Updates (#383)
  python/adb_auto_player/device/adb/adb_controller.py
  python/adb_auto_player/game/game.py
  python/adb_auto_player/games/blue_protocol_star_resonance/blue_protocol_star_resonance.py
  python/adb_auto_player/games/blue_protocol_star_resonance/simple_gathering.py
  python/adb_auto_player/models/geometry/coordinates.py
  python/adb_auto_player/models/geometry/point.py
  python/adb_auto_player/scripts/testing.py
Due: ty

General: find_all_template_matches sort results by confidence value before suppressing close matches to prevent misclicks
  python/adb_auto_player/template_matching/template_matcher.py
Due: ty

General: find_all_template_matches sort results by confidence value before suppressing close matches to prevent misclicks (#384)
  python/adb_auto_player/template_matching/template_matcher.py
Due: ty

General: Resolution dataclass, clean up
  python/adb_auto_player/commands/debug.py
  python/adb_auto_player/device/adb/adb_controller.py
  python/adb_auto_player/game/game.py
  python/adb_auto_player/games/afk_journey/base.py
  python/adb_auto_player/games/blue_protocol_star_resonance/blue_protocol_star_resonance.py
  python/adb_auto_player/games/guitar_girl/guitar_girl.py
  python/adb_auto_player/games/zzz_config_example/main.py
  python/adb_auto_player/image_manipulation/io.py
  python/adb_auto_player/models/device/__init__.py
  python/adb_auto_player/models/device/display.py
  python/tests/test_game.py
Due: ty

update tests
  python/adb_auto_player/game/game.py
  python/tests/test_game.py
Due: ty

update tests
  python/tests/test_game.py
Due: ty

pyav typehints suck
  python/adb_auto_player/device/adb/device_stream.py
  python/adb_auto_player/ipc/game_gui.py
Due: ty

pre-commit.yml fail-fast: false
  .github/workflows/pre-commit.yml
Due: none

General: Resolution dataclass, clean up (#400)
  .github/workflows/pre-commit.yml
  python/adb_auto_player/commands/debug.py
  python/adb_auto_player/device/adb/adb_controller.py
  python/adb_auto_player/device/adb/device_stream.py
  python/adb_auto_player/game/game.py
  python/adb_auto_player/games/afk_journey/base.py
  python/adb_auto_player/games/blue_protocol_star_resonance/blue_protocol_star_resonance.py
  python/adb_auto_player/games/guitar_girl/guitar_girl.py
  python/adb_auto_player/games/zzz_config_example/main.py
  python/adb_auto_player/image_manipulation/io.py
  python/adb_auto_player/ipc/game_gui.py
  python/adb_auto_player/models/device/__init__.py
  python/adb_auto_player/models/device/display.py
  python/tests/test_game.py
Due: ty

fix(update-template): update records template to fix afk stage pushing after mehira patch
  python/adb_auto_player/games/afk_journey/templates/battle/records.png
Due: none

update error message
  internal/process/ipc_manager.go
  internal/updater/update_manager_windows.go
Due: none

gopsutil v4
  go.mod
  go.sum
  internal/process/ipc_manager.go
  internal/updater/update_manager_windows.go
Due: none

context var fix
  frontend/package-lock.json
  python/adb_auto_player/file_loader/settings_loader.py
  python/adb_auto_player/models/pydantic/__init__.py
  python/adb_auto_player/server.py
  python/tests/utils/test_settings_loader.py
Due: ty, prettier, svelte-check

server start test case
  python/tests/server/test_server.py
Due: ty

Fix Server startup (#413)
  frontend/package-lock.json
  go.mod
  go.sum
  internal/process/ipc_manager.go
  internal/updater/update_manager_windows.go
  python/adb_auto_player/file_loader/settings_loader.py
  python/adb_auto_player/models/pydantic/__init__.py
  python/adb_auto_player/server.py
  python/tests/server/test_server.py
  python/tests/utils/test_settings_loader.py
Due: ty, prettier, svelte-check

Path conditions:
  ty: any of: python/ and \.py$ and not ((^|/)\.idea/|(^|/)wailsjs/|.*\.md5$)
  prettier: any of: frontend/, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  svelte-check: any of: frontend/, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  image-check: any of: \.(jpe?g|bmp|gif|webp|tiff?)$, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
