Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

.pre-commit-config.yaml:

exclude: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--no-ensure-ascii"

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  # Python
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [ "--profile", "black" ]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.3
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty-check
        language: system
        types: [ python ]
        entry: uvx ty check

  # uv
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-lock

  # Rust / Tauri
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
      - id: cargo-check

  # Frontend
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry:  pnpm  run prettier-write
        language: system
        files: src/
        pass_filenames: false

  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: pnpm run check
        language: system
        files: src/
        pass_filenames: false
      - id: image-check
        name: Ensure only PNG images
        language: fail
        entry: 'Only PNG images are allowed. Invalid files:'
        files: \.(jpe?g|bmp|gif|webp|tiff?)$
        types: [file]

docs: add wireless debugging user guide and update markdownlint configuration
  .markdownlint.json
  docs/src/user-guide/wireless-debugging.md
Due: prettier, svelte-check

bump: version 12.13.1 with Quests AFK Stages fix and screenshots folder button
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_quests.py
  src-tauri/tauri.conf.json
  src/client/_apiTypes.d.ts
  src/client/apiClient.ts
  src/lib/components/modern/LogActions.svelte
  src/lib/components/modern/LogPanel.svelte
  uv.lock
Due: ty, prettier, svelte-check

bump: version 12.13.2 with guild scan namesake identification and Korean/Cyrillic names
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_activeness.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_identity.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_names.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_rankings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_setup.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/guild_member_scan.py
  src-tauri/src-python/adb_auto_player/ocr/rapidocr_backend.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_scan_identity.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_scan_rankings_fixes.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

fix: CJK compatibility range in guild scan regex swallowed Hangul
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_rankings.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_scan_rankings_fixes.py
Due: ty

bump: version 12.13.3 with guild scan rank, pairing and name fixes
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_activeness.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_names.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_rankings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_setup.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_scan_full_run_fixes.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_scan_rankings_fixes.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

bump: version 12.13.4 with hero affinity fix and dependency updates
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pnpm-lock.yaml
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/services/hero_scanner.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_dailies_affinity.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty
