Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

.pre-commit-config.yaml:

exclude: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--no-ensure-ascii"

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  # Python
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [ "--profile", "black" ]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.3
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty-check
        language: system
        types: [ python ]
        entry: uvx ty check

  # uv
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-lock

  # Rust / Tauri
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
      - id: cargo-check

  # Frontend
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry:  pnpm  run prettier-write
        language: system
        files: src/
        pass_filenames: false

  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: pnpm run check
        language: system
        files: src/
        pass_filenames: false
      - id: image-check
        name: Ensure only PNG images
        language: fail
        entry: 'Only PNG images are allowed. Invalid files:'
        files: \.(jpe?g|bmp|gif|webp|tiff?)$
        types: [file]

MacOS build fix
  src-tauri/src-python/adb_auto_player/__main__.py
Due: ty

remove dmg build
  scripts/macos/MACOS_READ_THIS_IMPORTANT.txt
  src-tauri/tauri.bundle.json
Due: none

add MACOS_READ_THIS_IMPORTANT.txt to macos .app archive
  .github/workflows/publish.yaml
Due: none

Add MACOS_READ_THIS_IMPORTANT.txt to release not archive
  .github/workflows/publish.yaml
Due: none

ph
  src/lib/utils/posthog.ts
  src/routes/+layout.svelte
Due: prettier, svelte-check

Fix Summary
  src-tauri/src-python/adb_auto_player/__main__.py
Due: ty

Cerberus as default theme Remove Themes: Hamlindingo, Legacy, Mint, Reign, Rocket, Sahara Profile Selector Styling Make styling more consistent
  src-tauri/src-python/adb_auto_player/models/pydantic/app_settings.py
  src-tauri/src/settings.rs
  src/app.css
  src/app.html
  src/client/_apiTypes.d.ts
  src/lib/components/menu/ProfileSelector.svelte
  src/lib/components/menu/TooltipButton.svelte
  src/lib/components/updater/UpdateContainer.svelte
  src/lib/toast/toast-error.ts
  src/routes/+layout.svelte
Due: ty, prettier, svelte-check

Window unminimize on systray double-click
  src-tauri/src/window.rs
Due: prettier, svelte-check

Updater kill python backend after successful download
  src/lib/components/updater/UpdateContainer.svelte
Due: prettier, svelte-check

when running debug on a profile do not overwrite log level for other profiles
  src/lib/components/log/ActiveLogDisplayCard.svelte
  src/lib/stores.ts
  src/routes/+page.svelte
Due: prettier, svelte-check

summary message color secondary-500 to be more readable
  src/lib/components/log/ActiveLogDisplayCard.svelte
Due: prettier, svelte-check

disable v11 updater
  frontend/bindings/adb-auto-player/internal/updater/updateservice.ts
  internal/updater/update_manager.go
  internal/updater/update_manager_windows.go
  internal/updater/update_service.go
  internal/updater/updater_other_test.go
  main.go
Due: none

Fix all tasks completed event
  src-tauri/src-python/adb_auto_player/__main__.py
Due: ty

TS Types
  src/lib/form/SchemaForm.svelte
  src/lib/form/components/AlnumGroupedCheckboxArray.svelte
  src/lib/form/components/CheckboxArray.svelte
  src/lib/form/components/ImageCheckboxArray.svelte
  src/lib/form/components/SettingsSectionHeader.svelte
  src/lib/form/components/StringArray.svelte
  src/lib/form/components/TaskList.svelte
  src/lib/form/types.ts
  src/lib/types.ts
  src/routes/+page.svelte
Due: prettier, svelte-check

plugin-window-state
  Cargo.lock
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.toml
  src-tauri/capabilities/desktop.json
  src-tauri/src/lib.rs
Due: prettier, svelte-check

lint
  src/lib/form/SchemaForm.svelte
  src/lib/form/components/CheckboxArray.svelte
  src/lib/form/components/StringArray.svelte
  src/lib/form/components/TaskList.svelte
  src/lib/form/types.ts
  src/lib/types.ts
Due: prettier, svelte-check

refactor Game::_execute_or_timeout
  src-tauri/src-python/adb_auto_player/game/game.py
Due: ty

fix cv2 contourArea typing bs
  src-tauri/src-python/adb_auto_player/games/afk_journey/minigames/fishing.py
Due: ty

plugin-window-state (#487)
  Cargo.lock
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.toml
  src-tauri/capabilities/desktop.json
  src-tauri/src-python/adb_auto_player/game/game.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/minigames/fishing.py
  src-tauri/src/lib.rs
Due: ty, prettier, svelte-check

TS Types (#486)
  src/lib/form/SchemaForm.svelte
  src/lib/form/components/AlnumGroupedCheckboxArray.svelte
  src/lib/form/components/CheckboxArray.svelte
  src/lib/form/components/ImageCheckboxArray.svelte
  src/lib/form/components/SettingsSectionHeader.svelte
  src/lib/form/components/StringArray.svelte
  src/lib/form/components/TaskList.svelte
  src/lib/form/types.ts
  src/lib/types.ts
  src/routes/+page.svelte
Due: prettier, svelte-check

manual window state management
  src-tauri/src/lib.rs
  src-tauri/src/tray.rs
  src-tauri/src/window.rs
Due: prettier, svelte-check

manual window state management (#488)
  src-tauri/src/lib.rs
  src-tauri/src/tray.rs
  src-tauri/src/window.rs
Due: prettier, svelte-check

Added Initial implementation for Frostfire Showdown
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/frostfire_showdown.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/battle_record.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/defeat.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/frostfire_showdown.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/insufficient_resources.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/quick_select.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/title_s.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/victory.png
  src/lib/i18n/jp_afk_journey.json
  src/lib/i18n/vn.json
Due: ty, prettier, svelte-check

Difficulty detection, retry mechanism
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/frostfire_showdown.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/difficulty_active_challenger.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/difficulty_active_epic.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/difficulty_active_frostfire.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/difficulty_challenger.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/difficulty_epic.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/difficulty_frostfire.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_0-1.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_0-2.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_0-3.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_1-1.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_1-2.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_1-3.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_2-2.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_2-3.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_3-3.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/daimon_battle.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/marcille_battle.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/talene_battle.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/tasi_battle.png
Due: ty

normalized_resolution replaced with implementation from game.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/frostfire_showdown.py
Due: ty
