Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

ty:
  name: ty-check
  language: system
  entry: uvx ty check

prettier:
  name: prettier
  entry: pnpm  run prettier-write
  language: system
  pass_filenames: false

svelte-check:
  name: svelte-check
  entry: pnpm run check
  language: system
  pass_filenames: false

image-check:
  name: Ensure only PNG images
  language: fail
  entry: 'Only PNG images are allowed. Invalid files:'

Single Instance: unminimize, show and focus window when new app instance is started (#499)
  docs/src/development/dev-and-build.md
  pytauri-bootstrap.cjs
  src-tauri/src/lib.rs
Due: prettier, svelte-check

AFKJ: Fix Dura's Trials cleared counter
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/duras_trials.py
Due: ty

AFKJ: Fix Dura's Trials cleared counter (#500)
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/duras_trials.py
Due: ty

Homestead helper v0.2
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/settings.py
Due: ty

Homestead order helper v0.2.1
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/alchem_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/cook_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/forge_button.png
Due: ty

Homestead order helper v0.2 (#501)
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/settings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/alchem_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/cook_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/forge_button.png
Due: ty

Fix updater not showing progress
  src/lib/components/updater/UpdateContainer.svelte
Due: prettier, svelte-check

Fix updater not showing progress (#502)
  src/lib/components/updater/UpdateContainer.svelte
Due: prettier, svelte-check

AFKJ: Replace fixed battle timeout with image-based freeze detection
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/battle_state.py
Due: ty

clean up imports
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
Due: ty

AFKJ: Replace fixed battle timeout with image-based freeze detection (#504)
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/battle_state.py
Due: ty

Battle freeze check, check at every iteration if image is stable
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
Due: ty

_wait_for_battle_over_template
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
Due: ty

1
  src-tauri/src-python/adb_auto_player/commands/debug.py
  src-tauri/src-python/adb_auto_player/game/game.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/minigames/matching_cards.py
  src-tauri/src-python/tests/ocr/test_tesseract_backend/test_tesseract_backend_afkj_popup.py
  src-tauri/src-python/tests/test_device_stream.py
  src-tauri/src-python/tests/test_game.py
Due: ty

2
  docs/src/development/dev-and-build.md
  pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/arcane_labyrinth.py
Due: ty, prettier, svelte-check

Reduce Confidence Value in Tests from 100% to 99%
  src-tauri/src-python/tests/template_matching/test_template_matching_find_template_match.py
  src-tauri/src-python/tests/template_matching/test_template_matching_integration.py
Due: ty

test_template_matching_integration.py
  src-tauri/src-python/tests/template_matching/test_template_matching_integration.py
Due: ty

remove assert False nonsense
  src-tauri/src-python/tests/test_game.py
Due: ty

fix test_settings_loader.py
  src-tauri/src-python/tests/utils/test_settings_loader.py
Due: ty

clean up
  src-tauri/src-python/tests/models/geometry/test_box.py
  src-tauri/src-python/tests/models/ocr/test_ocr_result.py
  src-tauri/src-python/tests/models/template_matching/test_template_match_result.py
  src-tauri/src-python/tests/test_device_stream.py
  src-tauri/src-python/tests/utils/string_helper/test_string_helper.py
  src-tauri/src-python/tests/utils/test_settings_loader.py
Due: ty

Replace wall-clock timing with monotonic for elapsed-time logic (#505)
  docs/src/development/dev-and-build.md
  pyproject.toml
  src-tauri/src-python/adb_auto_player/commands/debug.py
  src-tauri/src-python/adb_auto_player/game/game.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/minigames/matching_cards.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/arcane_labyrinth.py
  src-tauri/src-python/tests/models/geometry/test_box.py
  src-tauri/src-python/tests/models/ocr/test_ocr_result.py
  src-tauri/src-python/tests/models/template_matching/test_template_match_result.py
  src-tauri/src-python/tests/ocr/test_tesseract_backend/test_tesseract_backend_afkj_popup.py
  src-tauri/src-python/tests/template_matching/test_template_matching_find_template_match.py
  src-tauri/src-python/tests/template_matching/test_template_matching_integration.py
  src-tauri/src-python/tests/test_device_stream.py
  src-tauri/src-python/tests/test_game.py
  src-tauri/src-python/tests/utils/string_helper/test_string_helper.py
  src-tauri/src-python/tests/utils/test_settings_loader.py
Due: ty, prettier, svelte-check

cargo update
  Cargo.lock
  package.json
  pnpm-lock.yaml
Due: none

CLI.run.xml
  .run/CLI.run.xml
Due: none

BS Virtual Gamepad: Batch sendevent commands up to 20% processing time
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_virtual_gamepad.py
  src-tauri/src-python/adb_auto_player/game/game.py
Due: ty

BS Virtual Gamepad: Batch sendevent commands for up to 20% faster processing time (#515)
  .run/CLI.run.xml
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_virtual_gamepad.py
  src-tauri/src-python/adb_auto_player/game/game.py
Due: ty

BS Virtual Touch: Implement Tap via VT roughly 40% faster taps than shell input tap
  src-tauri/src-python/adb_auto_player/device/adb/__init__.py
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_virtual_touch.py
Due: ty

BS Virtual Touch: Implement Tap via VT roughly 40% faster taps than shell input tap (#516)
  src-tauri/src-python/adb_auto_player/device/adb/__init__.py
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_virtual_touch.py
Due: ty

BS Virtual Touch: Add hold and release functions
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_virtual_touch.py
Due: ty

BS Virtual Touch: Add hold and release functions (#517)
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_virtual_touch.py
Due: ty

BS AT Translated Set 2 keyboard: impl
  src-tauri/src-python/adb_auto_player/device/adb/__init__.py
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_at_translated_set_2_keyboard.py
Due: ty

BS AT Translated Set 2 keyboard: Roughly 40% faster than adb shell input keyevent
  src-tauri/src-python/adb_auto_player/device/adb/adb_input_device.py
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_at_translated_set_2_keyboard.py
  src-tauri/src-python/adb_auto_player/device/adb/xiaomi_input.py
Due: ty

BS AT Translated Set 2 keyboard: Roughly 40% faster than adb shell input keyevent (#518)
  src-tauri/src-python/adb_auto_player/device/adb/__init__.py
  src-tauri/src-python/adb_auto_player/device/adb/adb_input_device.py
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_at_translated_set_2_keyboard.py
  src-tauri/src-python/adb_auto_player/device/adb/xiaomi_input.py
Due: ty

Move schema generation logic into settings class.
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src-python/adb_auto_player/commands/debug.py
  src-tauri/src-python/adb_auto_player/models/pydantic/toml_settings.py
Due: ty

Prevent duplicate assets from being included in installer
  src-tauri/pyproject.toml
Due: none

tool.setuptools.exclude-package-data
  src-tauri/pyproject.toml
Due: none

include-package-data = false
  src-tauri/pyproject.toml
Due: none

tauri.bundle.windows.json
  .github/workflows/publish.yaml
  scripts/windows/build.ps1
  src-tauri/tauri.bundle.windows.json
Due: none

Prevent duplicate assets from being included in installer (#519)
  .github/workflows/publish.yaml
  scripts/windows/build.ps1
  src-tauri/pyproject.toml
  src-tauri/tauri.bundle.windows.json
Due: none

Path conditions:
  ty: any of: \.py$, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  prettier: any of: src/, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  svelte-check: any of: src/, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  image-check: any of: \.(jpe?g|bmp|gif|webp|tiff?)$, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
