Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

.pre-commit-config.yaml:

exclude: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--no-ensure-ascii"

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  # Python
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [ "--profile", "black" ]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.3
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty-check
        language: system
        types: [ python ]
        entry: uvx ty check

  # uv
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-lock

  # Rust / Tauri
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
      - id: cargo-check

  # Frontend
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry:  pnpm  run prettier-write
        language: system
        files: src/
        pass_filenames: false

  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: pnpm run check
        language: system
        files: src/
        pass_filenames: false
      - id: image-check
        name: Ensure only PNG images
        language: fail
        entry: 'Only PNG images are allowed. Invalid files:'
        files: \.(jpe?g|bmp|gif|webp|tiff?)$
        types: [file]

bump: version 12.9.15 and update changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_rankings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/arcane_labyrinth.py
  src-tauri/src-python/adb_auto_player/ocr/qwen2vl_backend.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_member_scan.py
  src-tauri/src-python/tests/ocr/test_qwen2vl_backend.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

chore(deps): bump @sveltejs/kit, posthog-js and @types/node
  package.json
  pnpm-lock.yaml
Due: none

bump: version 12.9.16 and update changelog
  .markdownlint.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/heroes.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/kazim.png
  src-tauri/tauri.conf.json
  src/client/_apiTypes.d.ts
  src/client/apiClient.ts
  src/lib/components/modern/LogPanel.svelte
  uv.lock
Due: ty, prettier, svelte-check

bump: version 12.9.17 and fix Homestead Orders Helper
  CHANGELOG.md
  Cargo.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/navigation.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/homestead_overview_check.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/navigation/homestead/world.png
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

feat(afk-journey): add Lamentis and Peggy hero templates
  src-tauri/src-python/adb_auto_player/device/adb/adb_scanner.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/heroes.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/lamentis.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/peggy.png
Due: ty

chore: update uv.lock for anyio and rapidocr constraint bumps
  uv.lock
Due: none

bump: version 12.9.18 and update changelog
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/tauri.conf.json
Due: none

chore: remove internal fix and dep entries from changelog
  CHANGELOG.md
Due: none

chore: update Cargo.lock to version 12.9.18
  Cargo.lock
Due: none

docs: add debugging, testing, changelog, and GitHub issue workflows to CLAUDE.md
  CLAUDE.md
Due: none

feat: optimize homestead helper logic and enhance request fulfillment process
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
  uv.lock
Due: ty

refactor: rename request loop and skip exhausted portraits in OCR scan
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
Due: ty

chore: remove dead TaskItem.from_name, stale TaskListEnum refs and redundant homestead guard
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
  src-tauri/src-python/adb_auto_player/models/pydantic/my_custom_routine_settings.py
  src-tauri/src-python/adb_auto_player/models/pydantic/toml_settings.py
  src/lib/form/types.ts
Due: ty, prettier, svelte-check

fix: bump version to 12.9.19, fix RapidOCR 3.9.0 config, update changelog
  CHANGELOG.md
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/ocr/rapidocr_backend.py
Due: ty

test: fix homestead helper mock (navigate_to_homestead -> _ensure_in_homestead)
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
Due: ty

docs: update changelog for version 12.9.19 with PR 748 details
  CHANGELOG.md
Due: none

chore: update uv.lock version and format frontend forms code
  src/lib/form/SchemaForm.svelte
  uv.lock
Due: prettier, svelte-check

fix(homestead): lower threshold and enable grayscale for mine building card search
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
Due: ty

12.9.20
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/navigation.py
  src-tauri/src-python/adb_auto_player/ocr/rapidocr_backend.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

bump version to 12.9.21, update changelog with guildscan fixes
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_names.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_rankings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_setup.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/guild_member_scan.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/settings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/afk_stages/ranking_button.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/afk_stages/ranking_filter.png
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_member_scan.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

refactor(cli-settings): bring cli settings up to date
  src-tauri/Settings/README.md
  src-tauri/settings/ADB.toml
  src-tauri/settings/AFKJourney.toml
  src-tauri/settings/App.toml
Due: none

chore(deps): batch-apply pending dependabot dependency bumps
  package.json
  pnpm-lock.yaml
  src-tauri/pyproject.toml
  uv.lock
Due: none

chore(deps): apply verified major-version dependency bumps
  package.json
  pnpm-lock.yaml
  src-tauri/pyproject.toml
  uv.lock
Due: none

bump: release v12.9.22
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pnpm-lock.yaml
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/capabilities/desktop.json
  src-tauri/pyproject.toml
  src-tauri/settings/ADB.toml
  src-tauri/src-python/adb_auto_player/game/_input_mixin.py
  src-tauri/src-python/adb_auto_player/game/_screenshot_mixin.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_rankings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/services/hero_scanner.py
  src-tauri/src-python/adb_auto_player/models/pydantic/adb_settings.py
  src-tauri/src-python/tests/game/test_vertical_offset.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_scan_rankings.py
  src-tauri/src-python/tests/games/afk_journey/services/test_hero_scanner.py
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/lib/components/updater/UpdateContainer.svelte
  uv.lock
Due: ty, prettier, svelte-check

chore: bump version to 12.9.23 and fix mixin method collision
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/game/_input_mixin.py
  src-tauri/src-python/adb_auto_player/game/_screenshot_mixin.py
  src-tauri/src-python/tests/game/test_vertical_offset.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

release: v12.9.24 - fix AFK Journey date tabs/hero scanner and UI profile deletion
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_rankings.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/services/hero_scanner.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_scan_rankings.py
  src-tauri/src-python/tests/games/afk_journey/services/test_hero_scanner.py
  src-tauri/tauri.conf.json
  src/routes/+layout.svelte
  uv.lock
Due: ty, prettier, svelte-check

release: v12.9.25 - fix multi-display screenshot/input targeting and Qwen2-VL crash
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/device/adb/adb_controller.py
  src-tauri/src-python/adb_auto_player/device/adb/adb_device.py
  src-tauri/src-python/adb_auto_player/game/_screenshot_mixin.py
  src-tauri/src-python/adb_auto_player/ocr/qwen2vl_backend.py
  src-tauri/src-python/tests/device/adb/test_adb_controller.py
  src-tauri/src-python/tests/games/afk_journey/test_navigation_extended.py
  src-tauri/src-python/tests/ocr/test_qwen2vl_backend.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

fix: extend multi-display targeting to device streaming (screenrecord)
  CHANGELOG.md
  src-tauri/src-python/adb_auto_player/device/adb/adb_controller.py
  src-tauri/src-python/adb_auto_player/device/adb/device_stream.py
  src-tauri/src-python/adb_auto_player/game/_lifecycle_mixin.py
Due: ty

chore: sync uv.lock after onnxruntime/rapidocr dependabot merges
  uv.lock
Due: none

release: v12.9.26 - add new heroes to AFK Journey
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/games/afk_journey/heroes.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/orion.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/rolan.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/voracia.png
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

release: v12.9.27 - debug screenshots for unknown popups and navigation timeouts
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/game/_screenshot_mixin.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/base.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/arcane_labyrinth.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/frostfire_showdown.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/legend_trial.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/quests.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/sunlit_showdown.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/titan_reaver_proxy_battle.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/navigation.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/popup_message_handler.py
  src-tauri/src-python/adb_auto_player/models/geometry/point.py
  src-tauri/src-python/tests/game/test_vertical_offset.py
  src-tauri/src-python/tests/games/afk_journey/test_popup_handler_full.py
  src-tauri/src-python/tests/test_device_stream.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

bump: version 12.12.1 with OCR fixes and dependency updates
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  pnpm-lock.yaml
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src-python/adb_auto_player/device/adb/adb_scanner.py
  src-tauri/src-python/adb_auto_player/ocr/qwen2vl_backend.py
  src-tauri/src-python/tests/ocr/test_qwen2vl_backend.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

fix: align tauri-plugin-updater and tauri-plugin-notification crate versions with npm packages
  Cargo.lock
Due: none

bump: version 12.12.2 with guild scan, homestead and OCR fixes
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_virtual_gamepad.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/heroes.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/_guild_scan_activeness.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/aster.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/senea.png
  src-tauri/src-python/adb_auto_player/ocr/qwen2vl_backend.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_all_mixins_extended.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_guild_member_scan.py
  src-tauri/src-python/tests/games/afk_journey/mixins/test_homestead_helper.py
  src-tauri/src-python/tests/ocr/test_qwen2vl_backend.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

fix: use setattr for OSError.winerror in tests to satisfy ty on non-Windows CI
  src-tauri/src-python/tests/ocr/test_qwen2vl_backend.py
Due: ty

docs: keep only the latest version in CHANGELOG.md
  CHANGELOG.md
Due: none

bump: version 12.12.3 with Dura's Trials, Resonating Hall and equipment fixes
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  package.json
  pyproject.toml
  src-tauri/Cargo.toml
  src-tauri/pyproject.toml
  src-tauri/src-python/adb_auto_player/device/adb/adb_controller.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/custom_routine/equip_new_equipment.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/heroes.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/duras_trials.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/navigation.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/battle_modes/coming_soon.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/karma.png
  src-tauri/src-python/tests/games/afk_journey/data/world_overview_night.png
  src-tauri/src-python/tests/games/afk_journey/test_equip_new_equipment.py
  src-tauri/src-python/tests/games/afk_journey/test_navigation_extended.py
  src-tauri/tauri.conf.json
  uv.lock
Due: ty

docs: drop paid-attempts note from Union Campaign changelog entry
  CHANGELOG.md
Due: none
