Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

.pre-commit-config.yaml:

exclude: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--no-ensure-ascii"

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  # Python
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [ "--profile", "black" ]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.3
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty-check
        language: system
        types: [ python ]
        entry: uvx ty check

  # uv
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-lock

  # Rust / Tauri
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
      - id: cargo-check

  # Frontend
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry:  pnpm  run prettier-write
        language: system
        files: src/
        pass_filenames: false

  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: pnpm run check
        language: system
        files: src/
        pass_filenames: false
      - id: image-check
        name: Ensure only PNG images
        language: fail
        entry: 'Only PNG images are allowed. Invalid files:'
        files: \.(jpe?g|bmp|gif|webp|tiff?)$
        types: [file]

Dynamically include game templates in Tauri build
  .github/workflows/publish.yaml
  package.json
  scripts/bundle-templates.cjs
  scripts/linux/build.sh
  scripts/macos/build.sh
  scripts/pytauri-bootstrap.cjs
  scripts/set-version.cjs
  scripts/windows/build.ps1
  src-tauri/tauri.bundle.json
  src-tauri/tauri.bundle.templates.json
  src-tauri/tauri.bundle.windows.json
Due: none

prettier
  scripts/bundle-templates.cjs
Due: none

prettier
  .pre-commit-config.yaml
Due: none

run: pnpm bundle-templates
  .github/workflows/publish.yaml
Due: none

Dynamically include game templates in Tauri build (#520)
  .github/workflows/publish.yaml
  .pre-commit-config.yaml
  package.json
  scripts/bundle-templates.cjs
  scripts/linux/build.sh
  scripts/macos/build.sh
  scripts/pytauri-bootstrap.cjs
  scripts/set-version.cjs
  scripts/windows/build.ps1
  src-tauri/tauri.bundle.json
  src-tauri/tauri.bundle.templates.json
  src-tauri/tauri.bundle.windows.json
Due: none

Fix publish workflow
  scripts/pytauri-bootstrap.cjs
  scripts/set-version.cjs
Due: none

refactor(dura-dailies): move duras trials ahead of legend trials
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
Due: ty

fix(daily-hourglass): game update removed need for the confirmation tap
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
Due: ty

fix(claim-daily-rewards): correctly claim daily quest rewards
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
Due: ty

fix(daily-affinity): add second tap as fall back when low frames to mitigate going to narnia
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
Due: ty

improve auto_resolve_device title
  src-tauri/src-python/adb_auto_player/models/pydantic/adb_settings.py
Due: ty

AFKJ: Emberlight Festival Fishing
  src-tauri/src-python/adb_auto_player/games/afk_journey/minigames/fishing.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/fishing/emberlight_festival/fishing_proficiency.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/fishing/emberlight_festival/hook_fish.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/fishing/emberlight_festival/other_aquatic_creatures.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/fishing/emberlight_festival/rod.png
Due: ty

AFKJ: Emberlight Festival Fishing (#522)
  src-tauri/src-python/adb_auto_player/games/afk_journey/minigames/fishing.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/fishing/emberlight_festival/fishing_proficiency.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/fishing/emberlight_festival/hook_fish.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/fishing/emberlight_festival/other_aquatic_creatures.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/fishing/emberlight_festival/rod.png
Due: ty

AFKJ: Emberlight Festival Fishing
  src-tauri/src-python/adb_auto_player/games/afk_journey/minigames/fishing.py
Due: ty

pnpm pytauri dev: skip venv creation if already exists
  scripts/pytauri-bootstrap.cjs
Due: none

Fix debug logs
  src-tauri/src-python/adb_auto_player/device/adb/adb_controller.py
Due: ty

Fishing
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/fishing.py
Due: ty

Fishing
  pyproject.toml
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/fishing.py
Due: ty

Fishing
  docs/src/development/dev-and-build.md
  pyproject.toml
  scripts/pytauri-bootstrap.cjs
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/fishing.py
Due: ty, prettier, svelte-check

revert
  pyproject.toml
Due: none

BPSR Fishing (#528)
  docs/src/development/dev-and-build.md
  pyproject.toml
  scripts/pytauri-bootstrap.cjs
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/fishing.py
Due: ty, prettier, svelte-check

AFKJ: update Hero Exclusion 2026.02.15
  src-tauri/src-python/adb_auto_player/games/afk_journey/heroes.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/alna.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/aurora.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/galahad.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/kordan.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/laios.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/marcille.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/shadewing.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/solise.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/tilaya.png
  src-tauri/src-python/tests/image_manipulation/io/test_io_load_image.py
Due: ty

AFKJ: Emberlight Festival Fishing improvements
  src-tauri/src-python/adb_auto_player/games/afk_journey/minigames/fishing.py
Due: ty

Remove some unused Code
  src-tauri/src-python/adb_auto_player/game/game.py
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/fishing.py
  src-tauri/src-python/adb_auto_player/models/pydantic/app_settings.py
  src-tauri/src/settings.rs
  src/client/_apiTypes.d.ts
Due: ty, prettier, svelte-check

Update event name: write-summary-to-log => task-completed
  src-tauri/src-python/adb_auto_player/__main__.py
  src/lib/components/log/ActiveLogDisplayCard.svelte
  src/lib/log/eventNames.ts
Due: ty, prettier, svelte-check

Desktop Notifications
  Cargo.lock
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/notification.rs
Due: prettier, svelte-check

Desktop Notifications (#529)
  Cargo.lock
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.toml
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src/lib.rs
  src-tauri/src/notification.rs
  src/lib/components/log/ActiveLogDisplayCard.svelte
  src/lib/log/eventNames.ts
Due: ty, prettier, svelte-check

Discord Webhook
  Cargo.lock
  docs/src/images/app-icon.png
  src-tauri/Cargo.toml
  src-tauri/src-python/adb_auto_player/games/zzz_config_example/settings.py
  src-tauri/src-python/adb_auto_player/models/pydantic/app_settings.py
  src-tauri/src/discord.rs
  src-tauri/src/lib.rs
  src-tauri/src/notification.rs
  src-tauri/src/settings.rs
  src/client/_apiTypes.d.ts
  src/lib/form/SchemaForm.svelte
Due: ty, prettier, svelte-check

revert
  src-tauri/Settings/ADB.toml
Due: none

Discord Webhook (#530)
  Cargo.lock
  docs/src/images/app-icon.png
  src-tauri/Cargo.toml
  src-tauri/src-python/adb_auto_player/games/zzz_config_example/settings.py
  src-tauri/src-python/adb_auto_player/models/pydantic/app_settings.py
  src-tauri/src/discord.rs
  src-tauri/src/lib.rs
  src-tauri/src/notification.rs
  src-tauri/src/settings.rs
  src/client/_apiTypes.d.ts
  src/lib/form/SchemaForm.svelte
Due: ty, prettier, svelte-check

Use githubusercontent url for discord webhook avatar
  docs/src/images/app-icon.png
  src-tauri/src/discord.rs
Due: prettier, svelte-check

Do not send notification on manual task stop
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src/notification.rs
  src/lib/components/log/ActiveLogDisplayCard.svelte
Due: ty, prettier, svelte-check

SIGTERM_EXIT_CODE
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src/notification.rs
Due: ty, prettier, svelte-check

Do not send notification on manual task stop (#531)
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src/notification.rs
  src/lib/components/log/ActiveLogDisplayCard.svelte
Due: ty, prettier, svelte-check

AFKJ: Add new Legend Trial top floor reached template: "Unlocks at Season Phase X"
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/legend_trial.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/legend_trials/unlocks_at_season_phase.png
Due: ty
