Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

.pre-commit-config.yaml:

exclude: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: pretty-format-json
        exclude: '^(frontend/package-lock\.json|frontend/package\.json|build/windows/info\.json|wails\.json)$'
        args:
          - "--autofix"
          - "--no-ensure-ascii"

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  # Python
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: python/
        args: [ "--profile", "black" ]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: python/
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.3
    hooks:
      - id: ruff
        files: python/
        args: [ --fix ]
      - id: ruff-format
        files: python/
  - repo: local
    hooks:
      - id: ty
        files: python/
        name: ty-check
        language: system
        types: [ python ]
        entry: uvx ty check .
        args: [--project, python]

  # uv
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.20
    hooks:
      - id: uv-lock
        files: python/pyproject.toml
        args: [--project, python]
      - id: uv-export
        files: python/pyproject.toml
        args: [--project, python]

  # Golang
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.2.2
    hooks:
      - id: golangci-lint
        files: \.go$

  # Frontend
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry:  npm --prefix frontend run prettier-write
        language: system
        files: frontend/
        pass_filenames: false

  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: npm --prefix frontend run check
        language: system
        files: frontend/
        pass_filenames: false
      - id: image-check
        name: Ensure only PNG images
        language: fail
        entry: 'Only PNG images are allowed. Invalid files:'
        files: \.(jpe?g|bmp|gif|webp|tiff?)$
        types: [file]

remove unused flag; shutdown on message from python server
  frontend/src/lib/components/settings/SettingsForm.svelte
  internal/ipc/constraint.go
  internal/process/ipc_manager.go
  internal/settings/settings.go
  python/adb_auto_player/server.py
  settings/AdbAutoPlayer.toml
Due: ty, prettier, svelte-check

Refactoring
  python/adb_auto_player/games/afk_journey/base.py
Due: ty

refactor(base-method-refactor): refactor by simplifying methods and consolidating similar ones
  python/adb_auto_player/games/afk_journey/base.py
  python/adb_auto_player/games/afk_journey/mixins/afk_stages.py
  python/adb_auto_player/games/afk_journey/mixins/legend_trial.py
  python/adb_auto_player/games/afk_journey/settings.py
Due: ty

feat(run manual formations last): add option to run manual formations after auto formations (#455)
  python/adb_auto_player/games/afk_journey/base.py
  python/adb_auto_player/games/afk_journey/mixins/afk_stages.py
  python/adb_auto_player/games/afk_journey/mixins/legend_trial.py
  python/adb_auto_player/games/afk_journey/settings.py
  settings/AFKJourney.toml
Due: ty

fix(duras-fix): fix duras trials missing previously added battle settings
  python/adb_auto_player/games/afk_journey/settings.py
Due: ty

npm => pnpm
  .github/actions/setup-tools/action.yml
  .github/scripts/MACOS_READ_THIS_IMPORTANT.txt
  .github/scripts/build_macos.sh
  .github/scripts/build_windows.ps1
  .github/scripts/zip_windows.ps1
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/go-tests.yml
  .github/workflows/lychee-link-checking.yml
  .github/workflows/mdbook.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yaml
  .github/workflows/python-tests.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

pre-commit first pass
  src-tauri/capabilities/default.json
  src-tauri/icons/android/mipmap-anydpi-v26/ic_launcher.xml
  src-tauri/icons/android/values/ic_launcher_background.xml
  src-tauri/src-python/adb_auto_player/tauri_context/cache.py
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src-tauri/src/log.rs
  src-tauri/src/settings.rs
  src-tauri/src/tray.rs
  src-tauri/src/window.rs
Due: ty

pre-commit rust
  .idea/AdbAutoPlayer.iml
  .idea/codeStyles/codeStyleConfig.xml
  .pre-commit-config.yaml
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src-tauri/src/log.rs
  src-tauri/src/settings.rs
  src-tauri/src/tray.rs
  src-tauri/src/window.rs
Due: none

move ruff config to workspace
  .pre-commit-config.yaml
  pyproject.toml
  src-tauri/pyproject.toml
Due: none

vcs.xml
  .idea/vcs.xml
Due: none

uvx ty check
  pyproject.toml
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src-python/adb_auto_player/ocr/tesseract_backend.py
  src-tauri/src-python/adb_auto_player/tauri_context/cache.py
  src-tauri/src-python/tests/commands/test_debug.py
  src-tauri/src-python/tests/server/test_server.py
  src-tauri/src-python/tests/test_device_stream.py
  src-tauri/src-python/tests/test_main.py
  uv.lock
Due: ty

ruff
  pyproject.toml
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src-python/adb_auto_player/commands/__init__.py
  src-tauri/src-python/adb_auto_player/commands/debug.py
  src-tauri/src-python/adb_auto_player/file_loader/settings_loader.py
  src-tauri/src-python/adb_auto_player/main_cli.py
  src-tauri/src-python/adb_auto_player/models/pydantic/app_settings.py
  src-tauri/src-python/adb_auto_player/ocr/tesseract_backend.py
  src-tauri/src-python/adb_auto_player/task_loader.py
  src-tauri/src-python/adb_auto_player/tauri_context/cache.py
  src-tauri/src-python/adb_auto_player/tauri_context/context.py
  src-tauri/src-python/adb_auto_player/util/summary_generator.py
  src-tauri/src-python/tests/test_device_stream.py
Due: ty

pre-commit
  .pre-commit-config.yaml
  scripts/linux/build.sh
  scripts/macos/build.sh
  tsconfig.json
Due: none

actions
  .github/actions/setup-tools/action.yml
  .github/workflows/publish.yaml
Due: none

actions
  .github/workflows/codeql.yml
Due: none

actions
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yaml
Due: none

installer
  src-tauri/tauri.bundle.json
  src-tauri/tauri.bundle.windows.json
  src-tauri/tauri.conf.windows.json
Due: none

update tests
  src-tauri/src-python/adb_auto_player/tauri_context/context.py
  src-tauri/src-python/tests/ocr/test_tesseract_backend/test_tesseract_backend_afkj_popup.py
  src-tauri/src-python/tests/server/test_server.py
  src-tauri/src-python/tests/test_device_stream.py
  src-tauri/src-python/tests/utils/test_ipc_model_converter.py
  src-tauri/src-python/tests/utils/test_settings_loader.py
Due: ty

python-tests.yml
  .github/workflows/python-tests.yml
Due: none
