Repository AdbAutoPlayer/AdbAutoPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, svelte-check, image-check

ty:
  name: ty-check
  language: system
  entry: uvx ty check

prettier:
  name: prettier
  entry: pnpm  run prettier-write
  language: system
  pass_filenames: false

svelte-check:
  name: svelte-check
  entry: pnpm run check
  language: system
  pass_filenames: false

image-check:
  name: Ensure only PNG images
  language: fail
  entry: 'Only PNG images are allowed. Invalid files:'

In case frostfire is current difficulty, it will lower the difficulty to Epic for a higher winrate.
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/frostfire_showdown.py
Due: ty

Retry does not reset after victory, its run bound, so modified it accordingly
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/frostfire_showdown.py
Due: ty

feat(dailies-option-update): add option to disable claiming affinity and option to run duras trial in dailies loop
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/dailies.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/settings.py
Due: ty

refactor(fix-lint): resolve pre-commit linting
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/frostfire_showdown.py
Due: ty

Added Initial implementation for Frostfire Showdown
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/frostfire_showdown.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/battle_record.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/defeat.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/frostfire_showdown.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/insufficient_resources.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/quick_select.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/title_s.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/victory.png
  src/lib/i18n/jp_afk_journey.json
  src/lib/i18n/vn.json
Due: ty, prettier, svelte-check

Difficulty detection, retry mechanism
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/frostfire_showdown.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/difficulty_active_challenger.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/difficulty_active_epic.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/difficulty_active_frostfire.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/difficulty_challenger.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/difficulty_epic.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/difficulty_frostfire.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_0-1.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_0-2.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_0-3.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_1-1.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_1-2.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_1-3.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_2-2.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_2-3.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/event/frostfire_showdown/stamina_3-3.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/daimon_battle.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/marcille_battle.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/talene_battle.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/heroes/tasi_battle.png
Due: ty

normalized_resolution replaced with implementation from game.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/frostfire_showdown.py
Due: ty

BlueStacksVirtualGamepad
  src-tauri/src-python/adb_auto_player/device/adb/__init__.py
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_virtual_gamepad.py
Due: ty

BlueStacksVirtualGamepad (#493)
  src-tauri/src-python/adb_auto_player/device/adb/__init__.py
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_virtual_gamepad.py
Due: ty

Comment BlueStacks Virtual Gamepad input event specification
  src-tauri/src-python/adb_auto_player/device/adb/blue_stacks_virtual_gamepad.py
Due: ty

fix summary
  src-tauri/src-python/adb_auto_player/__main__.py
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/blue_protocol_star_resonance.py
  src-tauri/src-python/adb_auto_player/games/blue_protocol_star_resonance/guild_advertisement.py
Due: ty

update homestead nav
  src-tauri/src-python/adb_auto_player/games/afk_journey/navigation.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/navigation/homestead/homestead_enter.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/navigation/homestead/leave.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/navigation/homestead/world.png
Due: ty

update docs
  docs/src/user-guide/emulator-settings.md
  docs/src/user-guide/macos-setup.md
  docs/src/user-guide/troubleshoot.md
  docs/src/user-guide/windows-setup.md
Due: prettier, svelte-check

update docs
  docs/book.toml
  docs/src/images/real-phone/device-config.png
  docs/src/user-guide/emulator-settings.md
  docs/src/user-guide/real-phone-guide.md
Due: prettier, svelte-check

fix mdbook build
  .github/workflows/mdbook.yml
  docs/book.toml
Due: none

dependabot.yml
  .github/dependabot.yml
Due: none

dependabot.yml
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Due: none

svelte-check
  src/lib/components/updater/UpdateContainer.svelte
  src/lib/form/types.ts
  src/routes/+page.svelte
Due: prettier, svelte-check

uv.lock
  src-tauri/pyproject.toml
  uv.lock
Due: none

check for newer version before downloading and installing update
  src/lib/components/updater/UpdateContainer.svelte
Due: prettier, svelte-check

lower threshold in tests because of opencv non-deterministic behavior
  src-tauri/src-python/tests/template_matching/test_template_matching_integration.py
Due: ty

Homestead navigation
  src-tauri/src-python/adb_auto_player/games/afk_journey/navigation.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/navigation/homestead/homestead_invaded.png
Due: ty

AFK Journey: Matching cards support 4x4 Board
  src-tauri/src-python/adb_auto_player/games/afk_journey/minigames/matching_cards.py
Due: ty

AFK Journey: Matching cards support 4x4 Board (#496)
  src-tauri/src-python/adb_auto_player/games/afk_journey/minigames/matching_cards.py
Due: ty

Homestead orders helper first init
  .python-version
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/deck_in_crafting_page.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/go_to_requests.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/homestead_overview_check.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/homestead_overview_production.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/missing_item_navigate_to_crafting.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/navigate_to_alchemy.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/navigate_to_forge.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/navigate_to_kitchen.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/order_complete.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/order_complete_main_page.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/order_page_give_up.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/order_requests.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/requests.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/select_button.png
Due: ty

Homestead order helper v0.1
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
Due: ty

Homestead order helper (#498)
  .python-version
  src-tauri/src-python/adb_auto_player/games/afk_journey/mixins/homestead_helper.py
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/deck_in_crafting_page.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/go_to_requests.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/homestead_overview_check.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/homestead_overview_production.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/missing_item_navigate_to_crafting.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/navigate_to_alchemy.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/navigate_to_forge.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/navigate_to_kitchen.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/order_complete.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/order_complete_main_page.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/order_page_give_up.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/order_requests.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/requests.png
  src-tauri/src-python/adb_auto_player/games/afk_journey/templates/homestead/select_button.png
Due: ty

docs
  docs/src/development/dev-and-build.md
  pytauri-bootstrap.cjs
Due: prettier, svelte-check

Single Instance: unminimize, show and focus window when new app instance is started
  src-tauri/src/lib.rs
Due: prettier, svelte-check

Path conditions:
  ty: any of: \.py$, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  prettier: any of: src/, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  svelte-check: any of: src/, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
  image-check: any of: \.(jpe?g|bmp|gif|webp|tiff?)$, but not: (^|/)\.idea/|(^|/)wailsjs/|.*\.md5$
